.numeric {
	border:1px solid #999;
	background-color:#fff;
	color:#000;
	padding:5px;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border-color: #000000;
	margin-bottom:0;
	float:left;
	TEXT-ALIGN: right;
}

.strip {
	border:1px solid #999;
	background-color:#fff;
	color:#00F;
	padding:5px;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border-color: #00F;
	margin-bottom:0;
	float:left;
	TEXT-ALIGN: right;
}
.decimal {
	border:1px solid #999;
	background-color:#fff;
	color:#000;
	padding:5px;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border-color: #000000;
	margin-bottom:0;
	float:left;
	TEXT-ALIGN: right;
}

.title {
	color:#00F;
	font-size:26px;
}
.red {
	color:#F00;
}

#content {
	position:relative;
}
#content {
	clear: both
}
#num label {
	color:#000;
	clear:left;
	margin-top: 25px;
}
#num {
	background-color: #eee;
	padding: 20px;
	border:1px solid #999;
}
