<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Indicar o assembly de DAO a ser utilizado por aqui: -->
    <!-- add key="modelAssembly" value="Dataweb.Dilab.Model.Ado"/ -->
    <!-- add key="modelAssembly" value="Dataweb.Dilab.Model.Mock"/ -->
    <add key="modelAssembly" value="Dataweb.Dilab.Model.Ado"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="FirebirdSql.Data.FirebirdClient"></remove>
      <add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".Net Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient, Version=2.5.1.0, Culture=neutral, PublicKeyToken=3750abcc3150b00c"/>
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="DilabDatabase" connectionString="server=SERVER;database=D:\Share\Firebird\Farol.dataweb;username=SYSDBA;password=masterkey;" providerName="FirebirdSql.Data.FirebirdClient"/>
  </connectionStrings>

  <system.web>
    <compilation debug="true" />
  </system.web>

  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Dataweb.Dilab.Model.Wcf.ClienteServiceBehavior"
        name="Dataweb.Dilab.Model.Wcf.ClienteService">
        <endpoint address="" binding="basicHttpBinding" contract="Dataweb.Dilab.Model.Service.IClienteService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:53990/Cliente" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="Dataweb.Dilab.Model.Wcf.OrdemServicoServiceBehavior"
        name="Dataweb.Dilab.Model.Wcf.OrdemServicoService">
        <endpoint address="" binding="basicHttpBinding" contract="Dataweb.Dilab.Model.Service.IOrdemServicoService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:53990/OrdemServico" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Dataweb.Dilab.Model.Wcf.ClienteServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="Dataweb.Dilab.Model.Wcf.OrdemServicoServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
